<section class="uk-block uk-block-primary uk-contrast">
	<div class="text-container uk-container uk-container-center">		
		<h1 class="uk-text-center">District Health Board</h1>
		<p class="uk-h4 g-med">You also get to vote for up to 7 members of your district health board (DHB). They make decisions around health and disability services.</p>

		<p class="uk-h4 g-med uk-margin-large-bottom">You can find out more about your local district health board by referring to your voting document.</p>

		<p class="uk-h1 uk-text-center">Licensing Trust</p>

		<p class="uk-h4 g-med">Your part of Auckland may have a licensing trust, which controls the sale of alcohol and distributes money to local community, cultural and sports groups.</a></p>
		<p class="uk-h4 g-med">You can find out if you’re in a licensing trust area, and more information by referring to your voting document.</p>
	</div>	
</section>