<section class="uk-block uk-block-primary uk-contrast">
	<div class="text-container uk-container uk-container-center">		
			<h1 class="uk-text-center uk-heading-large uk-margin-small-bottom komika-red">404 ERROR</h1>
			<p class="uk-text-center uk-h2 uk-margin-large-bottom komika">Page not found</p>

			<p class="uk-h4 uk-text-center g-med uk-margin-large-bottom">This page you are looking for doesn’t<br> exist or has been moved.</p>
			<p class="uk-text-center"><span onclick="history.go(-1);" role="button" class="uk-button uk-button-primary">BACK TO PREVIOUS PAGE</span></p>
	</div>
</section>