<section class="uk-block uk-block-primary uk-contrast">
	<div class="text-container uk-container uk-container-center">
		<h1 class="uk-text-center">Website terms of use</h1>
		<h2>Terms of use for candidate content on the Election website</h2>
		<p class="uk-h4 g-med uk-margin-bottom-remove">
			The purpose of this website is to provide information to voters, including how to vote and who is standing for election in their local area. As set out in the Local Electoral Regulations, the Council can publish or display candidate profile statements as submitted with their nomination on its website (or in any other manner that we consider appropriate).
			<br><br> 
			This election, the Council is offering candidates the opportunity to provide some information in addition to the candidate profile statement which may assist voters in learning more about their candidates. This content is not intended to be an “election advertisement”, to provide any candidate with any benefit over another, or to apply council resources for the purpose of electing any one candidate. This is a platform which is equal for all candidates to use, and we encourage everyone to participate.
			<br><br> 
			In addition to your candidate profile statement, you have the opportunity to provide your thoughts on a selection of provided topics. We have intentionally selected broad topics, where possible, to accommodate all candidates’ views and backgrounds. You may feel free to focus on a specific area of interest to you within each topic. Remember, the purpose is to introduce yourself, not to talk about others. 
			<br><br> 
			We ask that you are polite and respectful with your comments and views and that you focus on issues, not personalities. This means not using any threatening, defamatory, offensive, disrespectful, rude, or abusive language; making direct personal attacks or disclosing private information or details of elected members or staff or members of the public; including objectionable material; and unsolicited advertising, marketing or spam. We may choose not to publish content if it is deemed to violate any of our terms of use or the rules set out in the Local Electoral Act, as advised by the Electoral Officer. If any of your content falls into this category, we will contact you to discuss how you may choose to proceed. 
			<br><br> 
			All candidate content hosted on this website is also subject to the Auckland Council website <a href="http://www.aucklandcouncil.govt.nz/EN/Pages/termsandconditions.aspx" target="_blank">Terms and Conditions</a>. If you are unsure about any rules, including campaigning and offences, go <a href="http://www.aucklandcouncil.govt.nz/EN/AboutCouncil/HowCouncilWorks/Elections/Documents/2016ElectionsCandidateInformationHandbook.pdf" target="_blank">here (PDF 9.13MB)</a> or contact the Electoral Office on 0800 922 822.
			<br><br>
			If you wish to contact us about any content on this page, please feel free to call us on 09 301 0101.
		</p>

		<h1 class="uk-text-center">Facebook terms of use</h1>
		<h2>Purpose of this Facebook page:</h2>
		<ol class="uk-h4 g-med">
			<li>to provide you with information, latest news and events about the Auckland Council elections 2016</li>
			<li>to hear from you about what you love about Auckland and how we can all work together to shape Auckland’s future.</li>
		</ol><br>
		<p class="uk-h4 g-med uk-margin-bottom-remove">
			While this page is about the elections, we won’t comment on political issues or get involved in debates. This page is about promoting the Auckland Council elections to encourage voter participation and discussion. It is not a place for personal marketing or promoting yourself (or others) as candidates. The usual rules set out in the Local Electoral Act apply.
			<br><br>  
			If you are unsure about any rules, including on campaigning and offences, go <a href="http://www.aucklandcouncil.govt.nz/EN/AboutCouncil/HowCouncilWorks/Elections/Documents/2016ElectionsCandidateInformationHandbook.pdf" target="_blank">here (PDF 9.13MB)</a> or contact the Electoral Office on 0800 922 822. You can also visit the <a href="http://www.electionservices.co.nz/" target="_blank">Election Services website</a>.
			<br><br>  
			- Moderation Policy -
			<br><br>  
			We openly welcome your comments and encourage discussion. We ask that you are polite and respectful with your comments and views.
			<br><br>  
			We may choose to hide or remove harmful posts or comments from this page. This includes any post or comment containing threatening, defamatory, offensive, disrespectful, rude, or abusive language; direct personal attacks or disclosure of private information or details of elected members or staff, other Facebook users or individuals; objectionable material; and unsolicited advertising, marketing or spam. We may also remove any posts or comments that may relate to an offence under the Local Electoral Act.
			<br><br>  
			If your posts or comments fail to comply with Facebook’s terms, and/or the above rules, then we may block you from posting to this page.
			If you wish to contact us about any content on this page, please feel free to comment or phone us on 09 301 0101.
		</p>
		<h1 class="uk-text-center">Election photo competition</h1>
		<p class="uk-h4 g-med">Auckland Council is looking to raise awareness of the Auckland Council 2016 elections, and is using this competition to help inform the public about the election.
		<br><br>
		By entering this Competition, entrants confirm that that they have read, understood and accepted the following<br> terms and conditions:</p>
		<h3>A. Competition</h3>
		<ol class="uk-h4 g-med">
			<li>The Competition is for the best pictures showing an image inspired by Auckland <strong>(“picture”)</strong>.</li>

			<li>To enter, entrants must either:
				<ul>
					<li>post a picture(s) to a publicly available Facebook post using the hashtags  #VoteAKL and #LoveAuckland and “like” “VoteAKL” on Facebook; or</li>

					<li>post a picture(s) to your Instagram account using the hash tag #VoteAKL and #LoveAuckland on an Instagram image that is accessible to the public and follow @VoteAKL on Instagram.</li>
				</ul>
			</li>

			<li>Entries must be submitted at the latest by 5pm on 21 September 2016.</li>

			<li>Every picture will be moderated and any picture with inappropriate content will be excluded and the entrant disqualified from the Competition.</li>  

			<li>By providing any picture, including any links to other websites, entrants represent that they own that content or have the right to publish the content on Facebook or Instagram and to grant the Council the right to reproduce and make the content available and publish the content on the Auckland Council Elections Facebook page <strong>(“the Facebook Page”)</strong>, the Auckland Council Elections <a href="http://showyourlove.co.nz">website</a> <strong>(“the Election Webpage”)</strong>, other social media, e.g. Twitter; the Council’s <a href="http://aucklandcouncil.govt.nz" target="_blank">website</a>; OurAuckland publication; and  on t-shirts, billboards, postcards and badges.</li>


			<li>No content entrants provide will breach the copyright or other rights of any third party. The Council reserves the right to disqualify the respective entrant immediately if it has reason to believe that publication of the picture would be in breach of a third party’s copyright or any other right or claim.</li> 

			<li>By entering the Competition, entrants warrant that all information submitted by them is true, current and complete.</li>
		</ol>
		<h3>B. Entries, selection and prize draw</h3>
		<ol class="uk-h4 g-med" start="8">
			<li>The Competition is open to members of the public aged 18 years and over. </li>
			
			<li>Up to ten winners will be selected through  a random draw. Each winner will be contacted by direct message on Instagram or private message on Facebook. If the winner does not respond to the direct message within 72 hours, another winner will be selected. </li>

			<li>Each winner’s name may be published on the Facebook Page on 23 September.
			The decision by the Council is final and no correspondence will be entered into. </li>
		</ol>
		<h3>C. Prizes</h3>
		<ol class="uk-h4 g-med" start="12">
			<li>The prizes for the winners may be any the following
				<ul>
					<li>A night's accommodation to Awhitu House includes a round of golf for 2 people </li>
					<li>A pair of general admission tickets to Coldplay's 3 December Auckland concert</li>
					<li>Six Month Gym Membership including five 1-on-1 personal training sessions at any one of Auckland Council-operated leisure centres</li>
					<li>A double pass (2 adults) to the Auckland Zoo</li>
					<li>A family pass (2 adults, 2 kids) to the Auckland Zoo</li>
					<li>Family pass (2 adults, 4 kids) to MOTAT</li>
					<li>A pair of tickets to Beyond the Barricade at Great Town Hall Auckland on 24/09/16</li>
					<li>A pair of tickets to the Auckland Boat Show on 29/09/16 - 02/10/16</li>
				</ul>
			</li>
			<li>Prizes are not redeemable for cash, are not transferable to any other person, and cannot be used in conjunction with any other offer or promotion. The council at its discretion may add to, change or substitute any of the prizes above. </li>
			<li>If any of the prizes become unavailable (for any reason), the Council reserves the right to provide a winner with a substitute prize.</li>
		</ol>
		<h3>D. Privacy</h3>
		<ol class="uk-h4 g-med" start="15">
			<li>The information provided by entrants on the Facebook Page will be used to contact the winners. In addition, all winners consent to the Council using their picture(s) and name credit for promotional purposes to be displayed on:
				<ul>
					<li>the Election Website, the Facebook Page and other social media, e.g. Twitter; </li>
					<li>the Council’s website and OurAuckland publication; and  </li>
					<li>t-shirts, billboards, postcards and badges.</li>
				</ul>
			</li>
			<li>All winners also consent to participate and co-operate as required in all promotional activities relating to the Competition by the Council.</li>
			
			<li>Submitted pictures will not be returned or deleted. All entrants and winners agree to provide the Council with an unlimited, irrevocable, perpetual, royalty-free and non-exclusive license to reproduce, distribute, display, and create derivative works of the pictures (along with a name credit) in connection with the Competition and promotion of the election. </li>

			<li>All information provided by the entrants will be collected, used, stored, disclosed and corrected in accordance with the Privacy Act 1993. All entrants have the right to access their information and request for any personal information to be corrected. </li>
		</ol>

		<h3>E. Exclusions</h3>
		<ol class="uk-h4 g-med" start="19">
			<li>The Council would like to receive pictures from as many people as possible. Apart from the winning pictures, the Council might also publish other submitted pictures on its Election Website and the Facebook Page which comply with these Terms and Conditions. However, the following persons are not eligible to win any prize:
				<ul>
					<li>Anyone under the age of 18 at the time of entering the competition.</li>
					<li>Anyone not resident in New Zealand at the time of the selection. </li>
					<li>Anyone who works for the Council and their immediate families.</li>
					<li>Anyone standing as a candidate for Auckland Council (either for a governing body or local board role) in the 2016 local government elections.</li>
				</ul>
			</li>
			<li>The Council reserves the right to exclude any entrant from participating in the Competition at its sole discretion. It also reserves the right to refuse to award a prize to an entrant who is in breach of these Terms and Conditions, gained an unfair advantage in participating in the competition or won a prize by using fraudulent means.</li>
			<li>The Council will not be liable for any claims for loss, damage or injury whatsoever or for any physical or mental injury suffered by the winner(s) as a result of or in connection with the Competition or due to any prizes won in the Competition.</li>
			<li>The promoter of the Competition is Auckland Council. The Competition is in no way sponsored, endorsed or administered by, or associated with Facebook or Instagram. Entrants completely release Facebook and / or Instagram from any and all liability associated with this Competition.</li>
			<li>These terms and conditions shall be governed by and construed in accordance with the laws of New Zealand and shall be subject to the non-exclusive jurisdiction of New Zealand courts.</li>	
		</ol>
	</div>
</section>